/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: 
    repeating-linear-gradient(
      90deg,
      var(--background-gradient-color-horizontal-first),
      var(--background-gradient-color-horizontal-first) 2px,
      var(--background-gradient-color-horizontal-second) 2px,
      var(--background-gradient-color-horizontal-second) 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--background-gradient-color-vertical-first),
      var(--background-gradient-color-vertical-first) 2px,
      var(--background-gradient-color-vertical-second) 2px,
      var(--background-gradient-color-vertical-second) 4px
    );
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  width: 100%;
  margin: 100px 0px;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.header-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 136px;
  font-family: var(--font-family-press-start);
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.header-heading-decorative-stroke {
  font-size: clamp(49px, calc(49px + (65 - 49) * ((100vw - 375px) / (1440 - 375))), 65px);
  line-height: clamp(49px, calc(49px + (65 - 49) * ((100vw - 375px) / (1440 - 375))), 65px);
  color: var(--main-color);
}

.header-heading-next-stroke {
  font-size: clamp(14px, calc(14px + (23 - 14) * ((100vw - 375px) / (1440 - 375))), 23px);
  line-height: clamp(14px, calc(14px + (23 - 14) * ((100vw - 375px) / (1440 - 375))), 23px);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 23px;
  margin-bottom: 21px;
  transform: translateX(9px);
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-family: var(--font-family-press-start);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  outline: none;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.5s ;
}

.theme-menu__button:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  filter: opacity(0.6);
  transition: width 0.5s ;
}

.theme-menu__button:focus-visible::after{
  width: 100%;
}

.theme-menu__button:focus-visible, .theme-menu__button:hover  {
  opacity: 0.6;
}


.theme-menu__button:disabled {
  filter: opacity(0.6);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  font-family: var(--font-family-press-start);
  font-size: 14px;
  transform: translateX(-20px);
  filter: opacity(0.6);
  animation: button-active 1s steps(1) infinite;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card-box {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
}

.card-heading {
  font-family: var(--font-family-Inter-variable);
  font-variation-settings: "wght" var(--fw-bold);
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.image-card-box {
  position: relative;
  border: 2px solid var(--main-color);
  border-left: none;
  border-right: none;
}

@supports((-webkit-text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: var(--background-color))) {
  .image-text {
      -webkit-text-stroke: 1px var(--background-color);
      text-shadow: 1px var(--background-color);
      text-shadow: none;
  }
} 

.image-text {
  position: absolute;
  font-family: var(--font-family-press-start);
  font-weight: 400;
  font-size: 14px;
  color: var(--main-color);
  top: 25px;
  right: 25px;
  filter: opacity(0.5);
  z-index: 2;
  -webkit-text-stroke: 1px var(--background-color);
}

.image {
  display: block;
  width: 100%;
}

.image-filter-multiple {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.image-filter-contrast {
  filter: contrast(2);;
}

.image-filter-grayscale {
  filter: grayscale(100%);
}

.image-filter-saturate {
  filter: saturate(3);
}

.image-filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.image-filter-sepia {
  filter: sepia(80%);
}

.image-filter-invert {
  filter: invert(0.7);
} 


.image-filter-blur {
  filter: blur(0.3rem);
}

.card-info-box {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 27px;
}

.paragrapgh {
  font-family: var(--font-family-Inter-variable);
  font-variation-settings: "wght" var(--fw-regular);
  font-size: 18px;
  line-height: 21px;;
}

.button-box {
  display: flex;
  margin-left: auto;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 34px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 6px;
  transform: translateY(2px);
  transition: box-shadow 0.5s ease;
  box-shadow: none;
}

.card__icon-button:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--main-color);
}

.card__icon-button .like-icon .core {
  transition: fill 0.3s linear 0.03s;
  fill: var(--background-color);
}

.card__icon-button:hover .like-icon .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.card__icon-button .like-icon .main-body{
  transition: fill 0.3s linear;
  fill: var(--background-color);
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--main-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .like-icon .core {
  transition: fill 0.3s linear;
  fill: red;
}

.card__icon-button:active .like-icon .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: red;
}

.button-like-box {
  position: relative;
  z-index: 1;
  color: var(--main-color);
  
}

.card__like-button {
  display: block;
  position: relative;
  min-width: 130px;
  font-family: var(--font-family-press-start);
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0px;
  outline: none;
  border: 2px solid var(--main-color);
}

.button__text {
  color: var(--main-color);
  transition: color 0.5s ease;
}

.card__like-button:hover .button__text {
  color: var(--background-color);
}

.heart {
  fill: black;
}

.footer {
  margin: auto;
  margin-bottom: 105px;
  background-color: black;
}

.footer-button {
  position: relative;
  max-width: 337px;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 2px solid var(--main-color);
  outline: none;
  font-family: var(--font-family-press-start);
  font-size: 14px;
  font-weight: var(--fw-regular);
  padding: 15px 19px;
  gap: 8px;
  
}

.floppy-img {
  width: 21px;
  height: 21px;
  color: var(--main-color);
  transition: color 0.5s ease;
}

.button:hover .floppy-img {
  color: var(--background-color);
}

.button-text {
  position: relative;
  z-index: 2;
  box-sizing: content-box;
  text-wrap: nowrap;
  color: var(--main-color);
  transition: color 0.5s ease;
}

.button:hover .button-text {
  color: var(--background-color);
}


.pop-up {
  display: none;
  flex-direction: column;
  justify-items: center;
  width: 355px;
  padding: 30px;
  gap: 30px;
  margin: auto;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.pop-up::backdrop {
  background-color: black;
  opacity: 0.75;
}

.pop-up[open] {
  display: flex;
  box-sizing: border-box;
}

.pop-up-info {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--main-color);
}

.floppy-img-pop-up {
  width: 39px;
  height: 39px;
}

.pop-up-text {
  font-family: var(--font-family-press-start);
  color: var(--main-color);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  max-width: 232px;
}

.pop-up-button-box {
  position: relative;
  z-index: 1;
  max-width: 293px;
}

.pop-up-button {
  position: relative;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  outline: none;
  font-family: var(--font-family-press-start);
  font-size: 14px;
  padding: 10px 0px;
  width: 100%;
  z-index: 1;
  mix-blend-mode: difference;
}

.button {
  background-color: var(--background-color);
  z-index: 1;
  box-shadow: none;
  mix-blend-mode: difference;
  transition: box-shadow 0.5s ease;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  z-index: -1;

}

.button:hover::before  {
  transform: scaleX(1);
}

.like-icon.is-liked .core {
  fill: var(--liked);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--liked);
  transition: fill 0.3s linear 0s;
}


.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--liked);
}

.is-liked .heart {
  transform-origin: 50% 50%;
  animation: heart 0.3s alternate;
  animation-delay: 0.1s;
}

.sparks {
  opacity: 0;
}

.is-liked .sparks {
  animation: sparks 0.6s alternate;
  animation-delay: 0.1s;
}

@media (375px >= width) {
  .header{
    width: 100%;
    align-items: center;
  }
  .header-heading {
    margin-top: 120px;
    gap: 21px;
  }
  
  .header-heading-decorative-stroke {
    font-size: 49px;
    line-height: 49px;
  }

  .header-heading-next-stroke {
    font-size: 14px;
    line-height: 14px;
  }

  .card-box {
    width: 100%;
  }
  
  .image-text {
    right: 13px;
  }
  
  .footer-button {
    flex-direction: column;
  }

  .floppy-img{
    width: 28px;
    height: 28px;
  }

  .pop-up {
    max-width: 341px;
    padding: 0px 42px 30px;
    padding-top: 30px;
  }

  .pop-up-button-box {
    max-width: 257px;
  }

  .pop-up-text {
    max-width: 196px;
  }
}